<h1><%= @record.title %></h1>
<p>Format: <%= @record.format_size %>"</p>
<p>Release Year: <%= @record.release_year %></p>
<p>Color Vinyl: <%= @record.color_vinyl %></p>
<%= link_to "Update This Release", "/records/#{@record.id}/edit" %>