<h1><%= @band.name %></h1>
<p>Formed In: <%= @band.year_formed %></p>
<p>Is Currently Active: <%= @band.active %></p> 
<h3>I have <%= @band.records.count %> <%= @band.name %> records in my collection</h3>