<h1><%= @band.name %></h1>
<p>Formed In: <%= @band.year_formed %></p>
<p>Is Currently Active: <%= @band.active %></p> 
<h3>I have <%= @band.records_count %> <%= @band.name %> records in my collection</h3>

<%= link_to "All #{@band.name} Records in my Collection", "/bands/#{@band.id}/records" %>
<h3> <%= link_to "Update #{@band.name} Info", "/bands/#[@band_1.id}/update" %> </h3>