<!DOCTYPE html>
<html>
  <head>
    <title>MyRecordCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  &nbsp <%= link_to "All Bands", "/bands" %> &nbsp &nbsp <%= link_to "All Records", "/records" %>
  <%= yield %>  
  </body>
</html>
